.main-logo {
    background-image: url("../main-logo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-content {
    width: 100%;
}

.main-content .logo-container {
  width:100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.user-area {
  height: 50px;
  background-color: #e6e6e6;
  text-align: right;
}

.login-form-inline {
  padding-top: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-block {
  width: 100%;
}
